<div
  class="side-bar mt-2 d-flex flex-column justify-content-between p-2 border-16 bg-white"
>
  <i class="bi bi-bell-fill curson-p notification"></i>
  <!-- 
        dynamic profile ////////////
        <div [style.background-image]="'url(' + data[0].profilePic + ')'"
           [style.background-size]="'cover'"
           [style.background-repeat]="'no-repeat'"
           style="width: 150px; height: 150px; border-radius: 10px" class="mx-auto shadow">
      </div>
       -->
  <div>
    <div
      class="mx-auto profile mt-3 mb-3"
      style="background-image: url('../../../assets/images/blue.jpg')"
    ></div>

    <div class="status text-center mx-auto status-green p-1">
      <i class="bi bi-circle-fill"></i>
      <p class="d-inline">Online</p>
    </div>

    <div class="fac-name mt-3 text-color-primary w-100 text-center">
      <h3>Syed Abdul</h3>
      <h3 style="margin-top: -6px">Haroon</h3>
    </div>
    <div class="bio text-center mt-2 text-color-secondary">
      <h5>HOD</h5>
    </div>
  </div>
  <div>
    <div
      (click)="onRout('faculty/myProfile')"
      class="actions custom-actions bg-hover-secondary border-8 curson-p p-2 text-center w-100"
    >
      <i
        class="bi bi-person-fill"
        style="margin-left: -16px; font-size: 22px"
      ></i>
      <p class="mx-2 d-inline">Profile</p>
    </div>
    <div
      (click)="onRout('faculty/settings')"
      class="actions custom-actions mt-2 bg-hover-secondary border-8 curson-p p-2 text-center w-100"
    >
      <i class="bi bi-gear-fill"></i>
      <p class="mx-2 d-inline">Settings</p>
    </div>
    <div
      class="actions logout mt-2 border-8 curson-p p-2 text-center w-100"
      (click)="onLogOut('/login')"
    >
      <i class="bi bi-box-arrow-left" style="margin-left: -6px"></i>
      <p class="mx-2 d-inline">Log Out</p>
    </div>
  </div>
</div>
