<div class="container mt-5">
  <!-- Nav Tabs -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="home-tab"
        data-bs-toggle="tab"
        data-bs-target="#home"
        type="button"
        role="tab"
        aria-controls="home"
        aria-selected="true"
      >
        Step 1
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="profile-tab"
        data-bs-toggle="tab"
        data-bs-target="#profile"
        type="button"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
      >
        Step 2
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="contact-tab"
        data-bs-toggle="tab"
        data-bs-target="#contact"
        type="button"
        role="tab"
        aria-controls="contact"
        aria-selected="false"
      >
        Step 3
      </button>
    </li>
  </ul>
  <form>
    <!-- Tab Content -->
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <h3 class="mt-3">Welcome Faculty</h3>
        <p>Provide your personal detail for registeration.</p>
        <input
          type="text"
          placeholder="First Name"
          class="form-control w-50 border-0 bg-lightblue"
          required
        />
        <input
          type="text"
          placeholder="Last Name"
          class="form-control w-50 border-0 bg-lightblue mt-4"
          required
        />
        <input
          type="number"
          placeholder="Phone No"
          class="form-control w-50 border-0 bg-lightblue mt-4"
          required
        />
        <input
          type="email"
          placeholder="Email"
          class="form-control w-50 border-0 bg-lightblue mt-4"
          required
        />
        <input
          type="password"
          placeholder="Password"
          class="form-control w-50 border-0 bg-lightblue mt-4"
          required
        />
        <input
          type="password"
          placeholder="Confirm Password"
          class="form-control w-50 border-0 bg-lightblue mt-4"
          required
        />
        <p class="mt-4 text-color-primary">
          Already Have an account -
          <span
            (click)="onRoute('login')"
            class="register text-color-secondary"
          >
            Login Now!
          </span>
        </p>
      </div>
      <div
        class="tab-pane fade"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <h3 class="mt-3">Enter your bio data</h3>
        <p>This data is required for better search</p>
        <textarea
          required
          rows="6"
          minlength="10"
          maxlength="400"
          placeholder="Profile Detail"
          class="form-control w-50 border-0 bg-lightblue"
        ></textarea>
        <select
          class="form-select w-50 border-0 bg-lightblue mt-3 py-2"
          id="optionSelect"
          formControlName="selectedOption"
        >
          <option [value]="" disabled selected>Select Title</option>
          <option *ngFor="let option of TitleList" [value]="option.id">
            {{ option.value }}
          </option>
        </select>
        <select
          class="form-select w-50 border-0 bg-lightblue mt-3"
          id="optionSelect"
          formControlName="selectedOption"
        >
          <option [value]="" disabled selected>Select Department</option>
          <option *ngFor="let option of departmentList" [value]="option.id">
            {{ option.value }}
          </option>
        </select>
        <!-- office timing -->
        <div formArrayName="officeTimings">
          <div *ngFor="let timing of officeTimings.controls; let i = index" [formGroupName]="i" class="d-flex gap-3 mb-3">
            <select class="form-select" formControlName="day">
              <option [value]="" disabled selected>Select Day</option>
              <option *ngFor="let option of officeTimingOptions" [value]="option.day">
                {{ option.day }}
              </option>
            </select>
      
            <select class="form-select" formControlName="startTime">
              <option [value]="" disabled selected>Select Start Time</option>
              <option *ngFor="let option of officeTimingOptions" [value]="option.OfficeTime">
                {{ option.OfficeTime }}
              </option>
            </select>
      
            <select class="form-select" formControlName="endTime">
              <option [value]="" disabled selected>Select End Time</option>
              <option *ngFor="let option of officeTimingOptions" [value]="option.OfficeTime">
                {{ option.OfficeTime }}
              </option>
            </select>
      
            <button type="button" class="btn btn-danger" (click)="removeTiming(i)">Remove</button>
          </div>
        </div>
      
        <button class="btn-secondary border-8 py-1 mt-3 w-50">
          Add Timing +
        </button>
        <!-- <p-multiSelect
          [style]="{
            width: '50%',
            padding: '0',
            'border-radius': '8px',
            border: '0',
            'background-color': '#2c418123',
            'margin-top': '16px',
            outline: 'none',
            'box-shadow': 'none'
          }"
          [options]="officeTiming"
          formControlName="officeTiming"
          optionLabel="name"
          placeholder="Office Timing"
        ></p-multiSelect> -->

        <p class="mt-3">Select Gender</p>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="option1"
          />
          <label class="form-check-label" for="inlineRadio1">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="option2"
          />
          <label class="form-check-label" for="inlineRadio2">Female</label>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="contact"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <h3 class="mt-3">Profile Pic</h3>
        <p>Set your profile picture please.</p>
        <img src="" alt="" />
        <div class="select w-25">
          <input type="file" class="bg-lightblue" accept=".png, .jpg, .jpeg" />
          <button
            class="border-0 bg-lightblue p-5 border-8 w-100 text-color-primary"
          >
            <h6 class="d-flex align-items-center">
              <i style="font-size: 3rem" class="bi bi-images me-2"></i>Upload
              Image
            </h6>
          </button>
        </div>
        <div class="proceed w-25 mt-3 d-flex">
          <input
            type="submit"
            class="btn-primary border-8 w-100"
            value="Register"
          />
        </div>
      </div>
    </div>
  </form>
</div>
