<div class="container mt-5">
  <!-- Nav Tabs -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="home-tab"
        data-bs-toggle="tab"
        data-bs-target="#home"
        type="button"
        role="tab"
        aria-controls="home"
        aria-selected="true"
      >
        Step 1
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="profile-tab"
        data-bs-toggle="tab"
        data-bs-target="#profile"
        type="button"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
      >
        Step 2
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="contact-tab"
        data-bs-toggle="tab"
        data-bs-target="#contact"
        type="button"
        role="tab"
        aria-controls="contact"
        aria-selected="false"
      >
        Step 3
      </button>
    </li>
  </ul>
  <form [formGroup]="form" (submit)="onSubmit()">
    <!-- Tab Content -->
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <h3 class="mt-3">Welcome Faculty</h3>
        <p>Provide your personal detail for registeration.</p>
        <input
          type="text"
          placeholder="First Name"
          class="form-control w-50"
          formControlName="fName"
          [ngClass]="{
            'border border-danger':
              form.controls['fName'].invalid && form.controls['fName'].touched
          }"
          (input)="isFormValid = true"
        />
        <input
          type="text"
          placeholder="Last Name"
          class="form-control w-50 mt-4"
          formControlName="lName"
          [ngClass]="{
            'border border-danger':
              form.controls['lName'].invalid && form.controls['lName'].touched
          }"
          (input)="isFormValid = true"
        />
        <input
          type="text"
          placeholder="Phone No"
          class="form-control w-50 mt-4"
          formControlName="phone"
          [ngClass]="{
            'border border-danger':
              form.controls['phone'].invalid && form.controls['phone'].touched
          }"
          (input)="isFormValid = true"
        />
        <input
          type="email"
          placeholder="Email"
          class="form-control w-50 mt-4"
          formControlName="email"
          [ngClass]="{
            'border border-danger':
              form.controls['email'].invalid && form.controls['email'].touched
          }"
          (input)="isFormValid = true"
        />
        <input
          type="password"
          placeholder="Password"
          class="form-control w-50 mt-4"
          formControlName="password"
          [ngClass]="{
            'border border-danger':
              form.controls['password'].invalid &&
              form.controls['password'].touched
          }"
          (input)="isFormValid = true"
        />

        <p class="mt-4 text-color-primary">
          Already Have an account -
          <span
            (click)="onRoute('login')"
            class="register text-color-secondary"
          >
            Login Now!
          </span>
        </p>
      </div>
      <div
        class="tab-pane fade"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <h3 class="mt-3">Enter your bio data</h3>
        <p>This data is required for better search</p>
        <textarea
          rows="3"
          maxlength="400"
          placeholder="Profile Detail"
          class="form-control w-50"
          formControlName="description"
          [ngClass]="{
            'border border-danger':
              form.controls['description'].invalid &&
              form.controls['description'].touched
          }"
          (input)="isFormValid = true"
        ></textarea>
        <label class="mt-3 mb-0">Select Title</label>
        <select
          class="form-select w-50 mt-3 py-2"
          id="optionSelect"
          formControlName="title"
          [ngClass]="{
            'border border-danger':
              form.controls['title'].invalid && form.controls['title'].touched
          }"
          (input)="isFormValid = true"
        >
          <option *ngFor="let option of titles" [value]="option.id">
            {{ option.name }}
          </option>
        </select>
        <label class="mt-3 mb-0">Select Department</label>
        <select
          class="form-select w-50 mt-3"
          id="optionSelect"
          formControlName="department"
          [ngClass]="{
            'border border-danger':
              form.controls['department'].invalid &&
              form.controls['department'].touched
          }"
          (input)="isFormValid = true"
        >
          <option *ngFor="let option of departments" [value]="option.id">
            {{ option.name }}
          </option>
        </select>

        <p-multiSelect
          [style]="{
            width: '50%',
            padding: '0',
            'border-radius': '8px',

            'margin-top': '16px',
            outline: 'none',
            'box-shadow': 'none'
          }"
          [options]="officeTimings"
          formControlName="officeTiming"
          optionLabel="label"
          placeholder="Office Timing"
          [ngClass]="{
            'border border-danger':
              form.controls['officeTiming'].invalid &&
              form.controls['officeTiming'].touched
          }"
          (input)="isFormValid = true"
        ></p-multiSelect>
        <br />
        <label class="mt-3 mb-0">Select Gender</label>
        <select
          class="form-select w-50 mt-3 py-2"
          id="optionSelect"
          formControlName="gender"
          [ngClass]="{
            'border border-danger':
              form.controls['gender'].invalid && form.controls['gender'].touched
          }"
          (input)="isFormValid = true"
        >
          <option *ngFor="let option of genders" [value]="option.id">
            {{ option.name }}
          </option>
        </select>
      </div>
      <div
        class="tab-pane fade"
        id="contact"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <h3 class="mt-3">Profile Pic</h3>
        <p>Set your profile picture please.</p>

        <div class="select w-25">
          <input
            type="file"
            formControlName="profilePic"
            class="bg-lightblue"
            accept=".png, .jpg, .jpeg"
            (change)="onFileSelected($event)"
          />
          <button
            [ngClass]="{
              'border-danger':
                form.controls['profilePic'].invalid &&
                form.controls['profilePic'].touched
            }"
            class="bg-lightblue border-1 p-5 border-8 w-100 text-color-primary"
          >
            <h6 class="d-flex align-items-center">
              <i style="font-size: 3rem" class="bi bi-images me-2"></i>
              {{
                image == "" ? "Select Profile Image" : "Profile Image Selected"
              }}
            </h6>
          </button>
        </div>
        <div class="proceed w-25 mt-3 d-flex">
          <input
            type="submit"
            class="btn-primary border-8 w-100"
            value="Register"
          />
        </div>
      </div>
    </div>
  </form>
</div>
