<section class="w-100">
  <div class="row gx-2">
    <div class="col-md-3">
      <div class="card card-white w-100 border-0 mb-2">
        <div class="card-body">
          <div class="status bg-white p-1 border-8">
            <div class="green">
              <i class="bi bi-circle-fill"></i>
              <p class="d-inline mx-1">Online</p>
            </div>
          </div>
          <div
            class="mx-auto profile border-8 mb-3"
            style="background-image: url('../../../assets/images/blue.jpg')"
          ></div>
          <div class="faculty-data text-center">
            <h2 class="text-color-primary">
              Haroon <br />
              Khan
            </h2>
            <p class="text-color-secondary">BS(CS)</p>
          </div>
          <div class="actions w-100">
            <button
              class="bg-prim bg-hover-primary w-100 mb-1"
              (click)="onRoute('faculty/view-faculty-details')"
            >
              View
            </button>
            <button class="bg-second bg-hover-secondary w-100">Meet</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-white w-100 border-0 mb-2">
        <div class="card-body">
          <div class="status bg-white p-1 border-8">
            <div class="green">
              <i class="bi bi-circle-fill"></i>
              <p class="d-inline mx-1">Online</p>
            </div>
          </div>
          <div
            class="mx-auto profile border-8 mb-3"
            style="background-image: url('../../../assets/images/blue.jpg')"
          ></div>
          <div class="faculty-data text-center">
            <h2 class="text-color-primary">
              Haroon <br />
              Khan
            </h2>
            <p class="text-color-secondary">BS(CS)</p>
          </div>
          <div class="actions w-100">
            <button class="bg-prim bg-hover-primary w-100 mb-1">View</button>
            <button class="bg-second bg-hover-secondary w-100">Meet</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-white w-100 border-0 mb-2">
        <div class="card-body">
          <div class="status bg-white p-1 border-8">
            <div class="green">
              <i class="bi bi-circle-fill"></i>
              <p class="d-inline mx-1">Online</p>
            </div>
          </div>
          <div
            class="mx-auto profile border-8 mb-3"
            style="background-image: url('../../../assets/images/blue.jpg')"
          ></div>
          <div class="faculty-data text-center">
            <h2 class="text-color-primary">
              Haroon <br />
              Khan
            </h2>
            <p class="text-color-secondary">BS(CS)</p>
          </div>
          <div class="actions w-100">
            <button class="bg-prim bg-hover-primary w-100 mb-1">View</button>
            <button class="bg-second bg-hover-secondary w-100">Meet</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-white w-100 border-0 mb-2">
        <div class="card-body">
          <div class="status bg-white p-1 border-8">
            <div class="green">
              <i class="bi bi-circle-fill"></i>
              <p class="d-inline mx-1">Online</p>
            </div>
          </div>
          <div
            class="mx-auto profile border-8 mb-3"
            style="background-image: url('../../../assets/images/blue.jpg')"
          ></div>
          <div class="faculty-data text-center">
            <h2 class="text-color-primary">
              Haroon <br />
              Khan
            </h2>
            <p class="text-color-secondary">BS(CS)</p>
          </div>
          <div class="actions w-100">
            <button class="bg-prim bg-hover-primary w-100 mb-1">View</button>
            <button class="bg-second bg-hover-secondary w-100">Meet</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-white w-100 border-0 mb-2">
        <div class="card-body">
          <div class="status bg-white p-1 border-8">
            <div class="green">
              <i class="bi bi-circle-fill"></i>
              <p class="d-inline mx-1">Online</p>
            </div>
          </div>
          <div
            class="mx-auto profile border-8 mb-3"
            style="background-image: url('../../../assets/images/blue.jpg')"
          ></div>
          <div class="faculty-data text-center">
            <h2 class="text-color-primary">
              Haroon <br />
              Khan
            </h2>
            <p class="text-color-secondary">BS(CS)</p>
          </div>
          <div class="actions w-100">
            <button class="bg-prim bg-hover-primary w-100 mb-1">View</button>
            <button class="bg-second bg-hover-secondary w-100">Meet</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-white w-100 border-0 mb-2">
        <div class="card-body">
          <div class="status bg-white p-1 border-8">
            <div class="red">
              <i class="bi bi-circle-fill"></i>
              <p class="d-inline mx-1">offline</p>
            </div>
          </div>
          <div
            class="mx-auto profile border-8 mb-3"
            style="background-image: url('../../../assets/images/blue.jpg')"
          ></div>
          <div class="faculty-data text-center">
            <h2 class="text-color-primary">
              Haroon <br />
              Khan
            </h2>
            <p class="text-color-secondary">BS(CS)</p>
          </div>
          <div class="actions w-100">
            <button class="bg-prim bg-hover-primary w-100 mb-1">View</button>
            <button class="bg-second bg-hover-secondary w-100">Meet</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
