<section class="w-100">
  <div class="search d-flex w-100 mb-3">
    <div class="bg-light w-100 p-2 border-8">
      <i class="bi bi-funnel-fill"></i>
      <input
        type="text"
        placeholder="Search"
        class="border-8 border-0 d-inline mx-2"
        [(ngModel)]="searchTerm"
      />
    </div>
  </div>
  <div class="row gx-2">
    <div
      class="col-md-4"
      *ngFor="let cards of facCardsRes | filter : searchTerm : ['name']"
    >
      <div class="card card-white w-100 border-0 mb-2">
        <div class="card-body">
          <div class="status bg-white p-1 border-8">
            <div [ngClass]="cards.status ? 'green' : 'red'">
              <i class="bi bi-circle-fill"></i>
              <p class="d-inline mx-1">
                {{ cards.status ? "Online" : "Offline" }}
              </p>
            </div>
          </div>
          <div
            class="mx-auto profile border-8 mb-3"
            [style.background-image]="'url(' + cards.profileImage + ')'"
          ></div>
          <div class="faculty-data text-center">
            <h2 class="text-color-primary">
              {{ cards.name }}
            </h2>
            <p class="text-color-secondary mb-4">{{ cards.department }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
