<div class="px-3">
  <div class="office-timing">
    <h6 class="mb-2">Office Timing</h6>
    <p
      *ngFor="let time of facTimes; let i = index"
      [ngClass]="{ 'bg-dark text-white shadow-none': selectedTimeIndex === i }"
      (click)="selectTime(i, time)"
    >
      {{ time.day }}: {{ time.startTime }} - {{ time.endTime }}
    </p>
  </div>
  <div class="mb-3 Message">
    <p for="exampleFormControlTextarea1" class="form-label">
      Write Your Message
    </p>
    <textarea
      class="form-control border-8"
      id="exampleFormControlTextarea1"
      rows="8"
      placeholder="No more than 300 words"
      maxlength="300"
      [(ngModel)]="message"
    ></textarea>
    <div class="mt-3 d-flex justify-content-between">
      <div class="w-100 me-1">
        <button class="btn-prim py-2 w-100 border-8" (click)="sendRequest()">
          Send Request
        </button>
      </div>
      <div>
        <button
          (click)="hideDialog()"
          class="w-100 btn-secondary-outline py-2 border-8 px-3"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
