/* fonts used start */
@font-face {
    font-family: Ubuntu Light;
    src: url(fonts/Ubuntu-Light.ttf);
}
@font-face {
    font-family: Ubuntu Reg;
    src: url(fonts/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Ubuntu Med;
    src: url(fonts/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: Ubuntu Bold;
    src: url(fonts/Ubuntu-Bold.ttf);
}
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  
/* font used end */


* {transition: 0.5s;}

h1, h2, h3 {
    font-family: Ubuntu Bold;
}
 h4, h5, h6 {
    font-family: Ubuntu Med;
}
p {
    font-family: Ubuntu Reg;
}
span {
    font-family: Ubuntu Light;
}
/* font Declared end */

.bg-primary {
  background-color: #3953a4;
}
.bg-secondary {
  background-color: #f47a56;
}

.text-color-primary {
  color: #3953a4;
}
.text-color-secondary {
  color: #f47a56;
}

.border-8 {
  border-radius: 8px;
}

.border-16 {
  border-radius: 16px;
}

.border-24 {
  border-radius: 24px;
}

.btn-primary {
  background-color: #3953a4;
  color: #fff;
  padding: 7px 0px;
  border: 0;
  font-size: 18px;
  font-family: Ubuntu Med;
}

.btn-primary:hover {
  background-color: #2c4181;
}

.btn-secondary {
  background-color: #f47b56;
  color: #fff;
  padding: 7px 0px;
  border: 0;
  font-size: 18px;
  font-family: Ubuntu Med;
}

.btn-secondary:hover {
  background-color: #d56a4a;
}

label {
  color: #f47b56;
  font-weight: 400;
  margin-left: 5px;
  font-size: 16px;
}

.input-field {
  border: 0;
  padding: 12px 14px;
  outline: none;
}
.input-field::placeholder {
  color: #00000043;
}

p {
  font-size: 16px;
}

.light-shadow {
  box-shadow: 10px 10xp 3px rgb(0, 0, 0);
}