.banner {
  background: url("../../../../../assets/images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vh;
}

.nav-link {
  background: rgb(245, 245, 245);
  color: var(--primarycolor);
}

.nav-link.active {
  background: var(--primarycolor);
}
