section {
  overflow-y: hidden;
}
.banner {
  background: url("../../../../../assets/images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vh;
}

fac-pil {
  border-radius: 8px 0px 0px 8px;
}
student-pil {
  border-radius: 0px 8px 8px 0px;
}
.nav-link {
  background: var(--light-blue);
  color: var(--primarycolor);
}

.nav-link.active {
  background: var(--primarycolor);
}

.pills {
  border-radius: 16px 16px 0 0;
}

.data-section {
  max-height: 61vh;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 0 16px;
}
