<section class="container-fluid vh-100 p-3 bg-light">
  <div class="row">
    <div class="col-md-9">
      <div class="banner mt-2 border-16 w-100"></div>
      <div class="pt-4"></div>
      <div class="p-2 w-100 border-16 bg-white">
        <ul class="nav p-2 nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item w-50" role="presentation">
            <button
              class="nav-link active w-100"
              style="border-radius: 8px 0px 0px 8px"
              id="pills-home-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-home"
              type="button"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
            >
              Faculties
            </button>
          </li>
          <li class="nav-item w-50" role="presentation">
            <button
              class="nav-link w-100 bg-prim border-8"
              id="pills-profile-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-profile"
              type="button"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
              style="border-radius: 0px 8px 8px 0px"
            >
              Students
            </button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills-home"
            role="tabpanel"
            aria-labelledby="pills-home-tab"
          >
            <div class="data-section p-2 bg-white">
              <div class="scroll-area">
                <app-faculty-members></app-faculty-members>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="pills-profile"
            role="tabpanel"
            aria-labelledby="pills-profile-tab"
          >
            <div class="data-section p-2 bg-white">
              <div class="scroll-area">
                <app-students></app-students>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-side-bar></app-side-bar>
    </div>
  </div>
</section>
