<div class="container-fluid vh-100" *ngIf="facultyData">
  <div class="row">
    <div class="col-md-3 left vh-100 bg-lightblue">
      <div
        class="mx-auto profile mt-4 mb-3 rounded-circle"
        [style.background-image]="
          'url(' + facultyData.faculty.profileImage + ')'
        "
      ></div>
      <div class="px-2 detail">
        <div class="name text-center mx-auto">
          <h3 class="text-color-primary mb-2">
            {{ facultyData.faculty.firstName }}
            {{ facultyData.faculty.lastName }}
          </h3>
          <p class="text-color-secondary">{{ facultyData.faculty.title }}</p>
        </div>
        <div class="card mt-4 border-0 w-100">
          <div class="card-body">
            <div class="mb-3">
              <i class="bi bi-envelope-at me-1"></i>
              {{ facultyData.faculty.email }}
            </div>
            <div class="mb-3">
              <i class="bi bi-phone me-1"></i>
              {{ facultyData.faculty.mobileNumber }}
            </div>
            <div class="mb-3">
              <i class="bi bi-backpack me-1"></i>
              {{ facultyData.faculty.department }}
            </div>
            <div>
              <i class="bi bi-person me-1"></i>
              {{ facultyData.faculty.gender }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="bio">
        <div class="office-timing mt-5">
          <h4 class="mb-3 text-color-primary">Office Timing</h4>

          <p *ngFor="let item of facultyData.officeTimings">
            {{ item.day }}: {{ item.startTime }} - {{ item.endTime }}
          </p>
        </div>
        <h4 class="text-color-primary mt-5">Bio</h4>
        <p class="w-50 mb-5">
          {{ facultyData.faculty.description }}
        </p>
      </div>
      <div>
        <button
          (click)="onRoute('faculty/home')"
          class="btn-prim px-3 border-8"
        >
          Go Back
        </button>
      </div>
    </div>
  </div>
</div>
